.train {
    animation: scroll var(--timeToLoop) infinite linear both;
}

.trainHover:hover {
    animation-play-state: paused;
}


@keyframes scroll {
    0% {
        translate: 0 0;
    }


    100% {
        translate: var(--translateAmt) 0;
    }
}