.button {
    border: 2px solid var(--faded3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    color: #000;
    padding: .5rem 1rem;
    border-radius: .6rem;
    transition: color 300ms, background-color 300ms, border 300ms;
}

.button:hover,
.buttonHovering {
    color: #fff;
    border: 2px solid transparent;
    background-color: var(--primaryColor);
}