.mainLayout {
    --extraLargeFontSize: calc(15vw + 1px);
    --largeFontSize: clamp(40px, 7vw + 1px, 178px);
    --mediumFontSize: 40px;
    --regularFontSize: 30px;
    --smallFontSize: 20px;
    --extraSmallFontSize: 8px;

    --mediumIconSize: 60px;

    --color1: #FF2B59;
    --color2: #F1FF4F;
    --backgroundColor: #191926;
    --gray1: #EBE2D0;



    font-family: var(--lato);
    font-size: var(--regularFontSize);
    background-color: var(--backgroundColor);
    color: var(--gray1);
}

.main {
    display: grid;
    align-content: flex-start;
    overflow-x: clip;
}

.mainLayout h1 {
    font-family: var(--albertExtraBold);
}


.mainLayout section {
    padding: 4rem 1rem;
}

.headingCont {
    position: relative;
    display: grid;
    justify-items: center;
    z-index: 0;
    margin-bottom: 4rem;
}

.headingCont>h1 {
    font-size: var(--largeFontSize);
}

.headingCont>p:first-of-type {
    text-transform: uppercase
}

.headingCont>img {
    --translateFrom: 0 20%;
    --translateTo: 0 -20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


.textOutline {
    --translateFrom: 0vw .5rem;
}

.topImageCont {
    --scaleFrom: 0 1;
    transform-origin: right;
}


@media only screen and (min-width: 800px) {
    .topImageCont {
        top: -4vw
    }
}




.emailCont {
    border-bottom: 1px solid var(--color1);
    opacity: 1;
    transition: opacity 400ms;
}

.emailCont:hover {
    opacity: .6;
}



.jamMode {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backgroundColor);
    padding: 5rem 1rem 1rem 1rem;
    z-index: 98;

    display: grid;
    align-content: flex-start;
    gap: 1rem;
    grid-template-rows: 1fr auto;
}


.songCont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    z-index: 0;
}


.videoButtonCont {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}


























.button {
    background-color: #000;
    color: var(--color1);
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 3px;
    font-size: var(--smallFontSize);
    padding: .5rem 1rem;
}

.button:hover {
    filter: brightness(.7);
}

/* .buttons button:before,
.buttons button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #44d8a4;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
    left: 0;
    bottom: 0;
} */