.itemCont {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.itemCont:hover>.fullscreenButton {
    display: block;
    animation: slideUp 400ms both;
}

.itemCont:hover>.backdrop {
    opacity: .5;
}

.backdrop {
    opacity: 0;
    transition: opacity 600ms;
}

.fullscreenButton {
    display: none;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        translate: 0 400%;
    }


    100% {
        opacity: 1;
        translate: 0 0%;
    }
}


.seekButton {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    padding: .5rem;
    transition: background-color 400ms;
    aspect-ratio: 1/1;
}

.seekButton:hover {
    background-color: var(--gray2);
}

.prevButton {
    left: 1rem;
}

.nextButton {
    right: 1rem;
}