.cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 1rem;
    width: min(1000px, 100%);
    justify-self: center;
    z-index: 0;
    position: relative;
}

.item {
    display: grid;
    gap: 1rem;
    justify-items: center;
    position: relative;
    text-align: center;
}

.item>h3 {
    font-family: var(--albertExtraBold);
    text-transform: uppercase;
}

.item>p:first-of-type {
    font-family: var(--fakeReceipt);
    transition: color 400ms;
}

.link {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: scale 400ms ease-out;
    scale: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    aspect-ratio: 1/1;
    width: 40%;
    text-align: center;
    /* background-color: var(--backgroundColor); */
    /* border-radius: 50%; */
}

.link>p {
    text-transform: uppercase;
    font-family: var(--fakeReceipt);
    font-size: var(--smallFontSize);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.background {
    --rotateFrom: 10deg;
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% -10%;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    z-index: -1;
    scale: 0;
    transition: scale 400ms ease-out;
    border-radius: 3rem;
}

.item:hover .background,
.item:hover .link {
    scale: 1;
}

.item:hover>p {
    color: var(--color2);
}






.hexadecagon {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    z-index: -1;
}

.hexadecagon div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
    transform-origin: center center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


.hexadecagon div:nth-child(1) {
    transform: rotate(0deg);
}

.hexadecagon div:nth-child(2) {
    transform: rotate(22.5deg);
}

.hexadecagon div:nth-child(3) {
    transform: rotate(45deg);
}

.hexadecagon div:nth-child(4) {
    transform: rotate(67.5deg);
}

.hexadecagon div:nth-child(5) {
    transform: rotate(90deg);
}

.hexadecagon div:nth-child(6) {
    transform: rotate(112.5deg);
}

.hexadecagon div:nth-child(7) {
    transform: rotate(135deg);
}

.hexadecagon div:nth-child(8) {
    transform: rotate(157.5deg);
}

.hexadecagon div:nth-child(9) {
    transform: rotate(180deg);
}

.hexadecagon div:nth-child(10) {
    transform: rotate(202.5deg);
}

.hexadecagon div:nth-child(11) {
    transform: rotate(225deg);
}

.hexadecagon div:nth-child(12) {
    transform: rotate(247.5deg);
}

.hexadecagon div:nth-child(13) {
    transform: rotate(270deg);
}

.hexadecagon div:nth-child(14) {
    transform: rotate(292.5deg);
}

.hexadecagon div:nth-child(15) {
    transform: rotate(315deg);
}

.hexadecagon div:nth-child(16) {
    transform: rotate(337.5deg);
}