.footerUL {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 1rem;
    text-transform: capitalize;
    white-space: nowrap;
}


.footerUL>li>h3 {
    margin-bottom: 1rem;
}


.footerSubUL {
    display: grid;
    gap: 1rem
}