.navAll {
    white-space: nowrap;
    color: #fff;
    font-weight: 300;
    font-family: var(--JosefinSans);
    text-transform: capitalize;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

/* desktop */

.desktopNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    transition: background-color 400ms;
    position: fixed;
    top: 0;
    left: 0;
}

.mobileNav {
    display: none;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menuItem {
    display: flex;
    gap: 1rem;
    position: relative;
    cursor: pointer;
    transition: color 400ms;
}

.menuItem:hover {
    color: var(--color1);
}

.menuItem svg {
    transition: fill 400ms;
}

.menuItem:hover svg {
    fill: var(--color1);
}

.menuItem:hover>.subMenu {
    display: grid;
}

.subMenu {
    display: none;
    position: absolute;
    gap: .5rem;
    top: 100%;
    right: 0;
    padding: 1rem;
    background-color: #000;
    color: #fff;
}

.subMenuItem {
    cursor: pointer;
    transition: color 400ms;
}

.subMenuItem:hover {
    color: var(--color1);
}




@media only screen and (max-width: 800px) {

    /* mobile */
    .desktopNav {
        display: none;
    }

    .mobileNav {
        display: grid;
        position: relative;
        background-color: var(--backgroundColor);


    }

    .menu {
        display: grid;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 80vh;
        overflow-y: auto;
        background-color: var(--backgroundColor);
        padding: 1rem;
    }

    .menuItem {
        display: grid;
    }

    .menuItem:hover>.subMenu {
        display: grid;
    }

    .subMenu {
        display: none;
        position: relative;
        top: 0;

    }


}